$text-color: #008080;

.cv-container {
  display: grid;
  place-items: center;
  padding: 20px;
  color: $text-color;
}

.information,
.experience {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 10px;
  height: fit-content;
}

.information{
  width: 35%; 
}

.experience{
  width: 65%;
}

.experience-link{
  color: $text-color;
  text-decoration: none;
  font-size: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: $text-color;
}

ul{
  color: $text-color;
  li{
    margin: 5px;
  }
}

.link {
  display: inline-block;
  transition: font-size 0.3s ease;
  color: $text-color;
  text-decoration: none;
}

.link-img {
  width: 20px;
  margin-top: 0;
  margin-right: 10px;
}

.link-text{
  display: inline-block;
  transition: font-weight 0.5s ease, letter-spacing 0.5s ease, color 0.5s ease, text-decoration 0.5s ease; /* Transiciones suaves para múltiples propiedades */
  color: $text-color; 
}

.link:hover .link-text{ 
  text-decoration: underline; 
  font-weight: bold; 
  letter-spacing: 0.05em; 
  color: #008080d0; 
}

@media (max-width: 480px) {
  .cv-container {
    padding: 0; 
  }

  p{
    font-size: 10px;
  }

  .information,
  .experience {
    padding: 10px;
    border-radius: 20px;  
  }

  .title {
    font-size: 12px; 
  }

  .link{
    font-size: 10px;
  }

  .link-img {
    display: none;
  }

  ul li {
    font-size: 12px; 
    margin: 0;
  }

  .experience-link{
    font-size: 14px; 
  }
}