.curriculum{
  margin: 20px;
  color: #008080;
}

.experience{
  border-left: 1px solid #0a9d9d91; 
}

//------------------------------------------------------------------
.title {
  font-size: 20px;
  font-weight: bold;
  color: $text-color;
}

.sub-title{
  font-size: 20px;
}

.code-link{
  text-decoration: none;
  color: $text-color;

  &:hover{
    text-decoration: underline;
  }
}

.experience-link{
  color: $text-color;
  text-decoration: none;
  font-size: 20px;
}

ul{
  color: $text-color;
  li{
    margin: 5px;
  }
}

.link {
  display: inline-block;
  transition: font-size 0.3s ease;
  color: $text-color;
  text-decoration: none;
}

.link-img {
  width: 20px;
  margin-top: 0;
  margin-right: 10px;
}

.link-text{
  display: inline-block;
  transition: font-weight 0.5s ease, letter-spacing 0.5s ease, color 0.5s ease, text-decoration 0.5s ease; /* Transiciones suaves para múltiples propiedades */
  color: $text-color; 
}

.link:hover .link-text{ 
  text-decoration: underline; 
  font-weight: bold; 
  letter-spacing: 0.05em; 
  color: #008080d0; 
}

//------------------------------------------------------------------
@media (max-width: 780px) {
  .curriculum {margin: 10px;}

  .experience{
    border-left: none; 
  }
  
  .experience-link, .title, .sub-title, .link-text, p, ul {
    font-size: 14px; 
  }

}

@media (max-width: 480px) {
  .curriculum {margin: 10px;}

  .experience{
    border-left: none; 
  }
  
  .experience-link, .title, .sub-title, .link-text, p, ul {
    font-size: 16px; 
  }

}
